@mixin display {
    display: flex;
    flex-wrap: wrap;
}

@mixin full-width-centered {
    display: flex;
    justify-content: center;
    width: 100%;
}

@mixin section-title-style {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3em;

    span {
        border-bottom: 5px solid pink;
        /* box-shadow: 10px 10px grey; 
        background-color: #f0f0f0;*/
    }
}

@mixin section-title-mobile {
    section {
        .section-title {
            margin-bottom: 1em;
        }
    }
}

@mixin logo-style {
    .logo {
        img {
            height: 4em;
            width: auto;
        }
    }
}

@mixin text-style {
    font-size: 1.5rem;
    font-weight: 100;
}