@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #161616;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  margin: 0;
  border-top: 2px solid #07889B;
}

#page {
  max-width: 1180px;
  margin: auto;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

nav {
  color: #161616;
  width: 100%;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #links {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navlink {
  color: #161616;
  font-size: 0.9rem;
}

nav .navlink:hover {
  color: #07889B;
  text-decoration: none;
}

nav .logo img {
  height: 4em;
  width: auto;
}

.header {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #header-img {
  width: 100%;
}

.header img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15em;
}

.header #header-desc {
  width: 100%;
}

.header #header-desc h1 {
  color: #07889B;
  font-size: 1.8rem;
  font-weight: bold;
}

.header #header-desc p {
  font-size: 1.5rem;
  font-weight: 100;
}

.header #header-desc p a {
  color: #07889B;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .section-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3em;
}

.projects .section-title span {
  border-bottom: 5px solid pink;
  /* box-shadow: 10px 10px grey; 
        background-color: #f0f0f0;*/
}

.projects #project-1 {
  background: #C6E3FF;
}

.projects #project-2 {
  background: #FFEFB9;
}

.projects .project-info {
  padding: 1.2em 1.2em 1.2em 1.2em;
}

.projects .project-info h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
}

.projects .project-info p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 200;
}

.projects .project-info a {
  font-weight: bold;
  color: #161616;
}

.projects .image-container {
  max-width: 75%;
  padding-top: 3em;
  margin: auto;
}

.projects .image-container:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .project-image {
  height: 100%;
  width: 100%;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .section-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3em;
}

#skills .section-title span {
  border-bottom: 5px solid pink;
  /* box-shadow: 10px 10px grey; 
        background-color: #f0f0f0;*/
}

#skills .section-title span {
  border-bottom: 5px solid #d3f6eb;
}

#skills .skill-title,
#skills .skill-list,
#skills .skill-icons {
  width: 100%;
}

#skills .skill-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4em;
}

#skills ul {
  font-size: 1.3rem;
  font-weight: 100;
  list-style: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
  border-top: 1px solid #f0f0f0;
  height: 6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

footer .logo img {
  height: 4em;
  width: auto;
}

footer #footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-contact a {
  color: #161616;
  height: 1.5em;
  width: auto;
}

footer #footer-contact a:hover {
  background-color: #e45c4c;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* About us page */
.about {
  border: 2px solid red;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about #about-text {
  border: 2px solid black;
}

.about #workflow {
  border: 2px solid green;
  width: 100%;
  background-color: #f9f9f9;
}

.about #workflow ul li {
  list-style: none;
}

.about #workflow #content {
  margin: 1em;
  margin-left: 1.2em;
}

/* Mobile styles */
@media only screen and (max-width: 961px) {
  #page {
    background-color: #fff;
  }
  nav,
  .header,
  section,
  footer {
    margin: 1em;
  }
  nav .navlink {
    margin: auto;
  }
  nav #links {
    width: 80%;
  }
  .projects .section-title,
  #skills .section-title {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #header-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 15em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #project-1,
  #project-2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .skill-icons img {
    height: 2em;
    width: auto;
  }
  .skill-list ul li {
    display: inline;
    margin-left: 0em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 8em;
    padding-top: 2em;
    padding-bottom: 8em;
  }
  footer .logo {
    margin-bottom: 2em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer #footer-contact span {
    text-align: center;
    width: 100%;
  }
  footer #footer-contact #socials {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  .header #header-desc {
    width: 60%;
  }
  .header #header-img {
    width: 40%;
  }
  .header #header-img img {
    margin-left: 48%;
  }
  #project-1,
  #project-2 {
    width: 49%;
  }
  #skills {
    margin-top: 4em;
  }
  #skills .skill-title {
    width: 20%;
  }
  #skills .skill-list {
    width: 50%;
  }
  #skills .skill-list ul {
    margin-left: 5em;
  }
  #skills .skill-icons {
    width: 30%;
  }
  #skills .skill-icons img {
    margin: 0.5em;
    width: 3em;
    height: auto;
  }
  footer #logo {
    width: 60%;
  }
  footer #footer-contact {
    width: 40%;
  }
  footer #footer-contact h3 {
    width: 100%;
  }
  footer #footer-contact img {
    margin-right: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */